.thanks-success {
  width: 100%;
  height: auto;
  background-image: url('images/boluozaixian_bg.png');
  background-size: cover;
  position: relative;
}
.thanks-success h1 {
  padding: 1rem 1.2rem;
  font-size: 1.1rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #ffffff;
  line-height: 2.25rem;
}
.thanks-success h1 img {
  width: 2rem;
  height: 3rem;
  margin-right: 1rem;
}
.thanks-success .successTitle {
  text-align: center;
  font-size: 2.73rem;
  font-family: FZLTCHJW--GB1-0;
  font-weight: normal;
  color: #ffffff;
  line-height: 3.24rem;
}
.thanks-success .ticketDetail {
  width: 30rem;
  height: 20rem;
  margin: 0 auto;
  background: url('images/youhuiquanma.png');
  background-size: cover;
}
.thanks-success .ticketDetail .title {
  text-align: center;
  font-size: 1.79rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #de5a3c;
  line-height: 2.52rem;
  padding-top: 2.8rem;
}
.thanks-success .ticketDetail .ticketlist {
  padding: 3.5rem 2rem;
}
.thanks-success .ticketDetail .ticketlist .ticket {
  height: 3.75rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.thanks-success .ticketDetail .ticketlist .ticket .word {
  font-size: 1.37rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #a3a3a3;
  line-height: 1.75rem;
}
.thanks-success .ticketDetail .ticketlist .ticket .word:nth-child(1) {
  margin-right: .5rem;
}
.thanks-success .ticketDetail .ticketlist .ticket .btn {
  display: inline-block;
  width: 3.41rem;
  height: 1.54rem;
  background: linear-gradient(180deg, #f08845 0%, #e4663b 48%, #d54b3c 100%);
  border-radius: 0.73rem;
  text-align: center;
  font-size: 0.94rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.54rem;
  float: right;
}
.thanks-success .hint {
  text-align: center;
  font-size: 1.37rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.92rem;
  margin: .8rem auto;
  margin-bottom: 2rem;
}
.thanks-success .erw {
  width: 11.01rem;
  height: 11.01rem;
  background: rgba(255, 252, 239, 0.6414);
  border-radius: 0.6rem;
  margin: 0 auto;
}
.thanks-success .erw img {
  width: 9.39rem;
  height: 9.39rem;
  margin: .8rem;
}
.thanks-success .erwNote {
  text-align: center;
  font-size: 1.02rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.41rem;
  margin-top: 1.5rem;
}
.thanks-success .activeNote {
  padding: 3rem 1.1rem;
  font-size: 1.02rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #f2f2f2;
  line-height: 1.41rem;
}
#newBridge {
  display: none;
}
