.InputBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 2rem 0;
}
.InputBox .mainbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  border-radius: 1.7rem;
  color: #fff;
  font-size: 1.37rem;
  background: linear-gradient(to right, #ff8000, #FF6425);
  -webkit-box-shadow: 0 0.4rem 1rem #ff8000;
  -moz-box-shadow: 0 0.4rem 1rem #ff8000;
  box-shadow: 0 0.4rem 1rem #ff8000;
}
.InputBox .title {
  color: #191919;
  line-height: 1;
  text-align: center;
}
.InputBox .title h1,
.InputBox .title h2,
.InputBox .title h3 {
  margin: 0;
  margin-top: 0.5rem;
  font-family: 'mainfont';
}
.InputBox .title h1 {
  font-size: 1.8rem;
  font-weight: bold;
}
.InputBox .title h2 {
  font-size: 1.45rem;
}
.InputBox .title h3 {
  font-size: 0.94rem;
  color: #ff8000;
}
.InputBox .inputcontainer {
  position: relative;
  width: 100%;
  margin: 1rem 0;
}
.InputBox .inputcontainer input {
  border: 1px solid #e4e4e4;
  display: block;
  width: 100%;
  height: 3.16rem;
  line-height: 3.16rem;
  text-indent: 3rem;
  background: #ffffff url(image/phone.png) no-repeat 1rem center / 0.7rem;
  border-radius: 0.17rem;
  font-size: 1.02rem;
}
.InputBox .inputcontainer:before {
  content: "";
  width: 1px;
  height: 0.94rem;
  position: absolute;
  top: 50%;
  margin-top: -0.47rem;
  left: 2.5rem;
  background: #ccc;
}
.InputBox .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  border-radius: 1.7rem;
  color: #fff;
  font-size: 1.37rem;
  background: linear-gradient(to right, #ff8000, #FF6425);
  -webkit-box-shadow: 0 0.4rem 1rem #ff8000;
  -moz-box-shadow: 0 0.4rem 1rem #ff8000;
  box-shadow: 0 0.4rem 1rem #ff8000;
}
