.teachers .rotate180{
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); 	/* IE 9 */
  -moz-transform:rotate(180deg); 	/* Firefox */
  -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  -o-transform:rotate(180deg); 	/* Opera */
}

.teachers button{
  border: 0;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/

}
.teachers button:hover{
  background-color: #FF8000;
  color: white;
}

.teachers{
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1.3rem 0;
  /* margin-bottom: 65px; */

}

.teachers>p:nth-child(1){
  font-size:0.6rem;
  color:#000;
  font-weight: 600;
}
.teachers>p:nth-child(2){
  font-size:0.33rem;
  color:#4a4a4a;
  margin: 0.2rem 0 0.5rem 0;
}


b{
  background-color: #4a4a4a;
  display: block;
  margin: 0 auto;
  height: 0.06666667rem;
  width: 1.11666667rem;
  border-radius: 0.16666667rem;
}

.teachers aside{
  display: flex;
  justify-content:center;
  align-items: center;
  width:100%;
  height: auto;
  margin-top: 0.8rem;
}

.teachers aside ul{
  width: 9.27rem;
  height: auto;
  display: flex;
  justify-content:center;
  align-items: center;

}
.teachers aside ul>div,.teachers aside ul>div>img{
  cursor: pointer;
  width: 0.85rem;
  height: 0.85rem;
}

.teachers aside .wrop{
  width: 7.5rem;
  overflow: hidden;
}
.teachers .wrop ol.cpnt{
  width: 50.51rem;
  height: 7.16rem;
}
.teachers aside ul ol.cpnt li{
  float: left;
  width: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}
.teachers aside ul ol.cpnt li>img{
  width: 2.7rem;
  height: 2.7rem;
}
.teachers aside ul li p:nth-of-type(1){
  font-size:0.6rem;
  color:#4a4a4a;
  margin: 0.28rem;

}
.teachers aside ul li p:nth-of-type(2){
  font-size: 0.3rem;
  color:#4a4a4a;
  line-height:0.6rem;
  text-align:center;

}
.teachers aside ul li button{
  font-size:0.33rem;
  color:#ffffff;
  text-align:center;
  background:#FF8000;
  border-radius:1.1rem;
  width:3.1rem;
  height:0.83rem;
  margin-top: 0.57rem;
}