.mobileig_four {
  padding-top: 3.5rem;
}
.mobileig_four .four_img {
  width: 7.92rem;
  height: 6rem;
  margin: 0 auto;
}
.mobileig_four .four_img img {
  width: 100%;
}
.mobileig_four .four_title {
  margin-top: 2rem;
  text-align: center;
}
.mobileig_four .four_title p {
  color: #0E0E0E;
  font-size: 1.66rem;
  font-weight: 600;
}
.mobileig_four .four_title span {
  margin-top: 1rem;
  font-size: 1.08rem;
  color: #333;
}
.mobileig_four .four_describe {
  width: 90%;
  margin: 2rem auto 0;
}
.mobileig_four .four_describe img {
  width: 100%;
}
