.ReturneesTeacher {
  width: 100%;
  position: relative;
}
.ReturneesTeacher .title {
  margin-top: 1.5rem;
  font-size: 0.67rem;
  color: #191919;
  text-align: center;
  line-height: 1.1;
  font-weight: bold;
}
.ReturneesTeacher .title span {
  font-size: 1.33rem;
  position: relative;
  z-index: 1;
  margin: 0 0.1rem;
}
.ReturneesTeacher .title span:before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0.15rem;
  left: 0;
  height: 0.3rem;
  background: #FF8000;
  z-index: -1;
}
.ReturneesTeacher .subtitle {
  font-size: 0.4rem;
  color: #666666;
  text-align: center;
}
.ReturneesTeacher .bg {
  height: 13rem;
  width: 100%;
  background: url(/static/media/bg5.d7349533.png) center center no-repeat;
  background-size: 100% 100%;
}
.ReturneesTeacher .cont {
  text-align: center;
  width: 20rem;
  height: 10rem;
  position: absolute;
  top: 6.5rem;
  left: 50%;
  margin-left: -10rem;
  background: #fff;
  -webkit-box-shadow: 0rem 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.02);
  box-shadow: 0rem 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.02);
  padding: 1rem;
}
.ReturneesTeacher .cont .info {
  margin-top: 1rem;
  display: -ms-flexbox;
  display: flex;
}
.ReturneesTeacher .cont .info span {
  color: #ff8000;
}
.ReturneesTeacher .cont .info .left {
  -ms-flex: 1 1;
  flex: 1 1;
  float: left;
  position: relative;
}
.ReturneesTeacher .cont .info .left h2 {
  font-size: 0.5rem;
  color: #191919;
  line-height: 0.83rem;
  font-weight: bold;
}
.ReturneesTeacher .cont .info .left p {
  font-size: 0.33rem;
  color: #666666;
  line-height: 0.5rem;
}
.ReturneesTeacher .cont .info .left:before {
  content: '';
  width: 1px;
  height: 1.5rem;
  background: #e8e8e8;
  float: left;
  margin-top: 0.6rem;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.75rem;
}
.ReturneesTeacher .cont .info .right {
  -ms-flex: 1 1;
  flex: 1 1;
  float: left;
}
.ReturneesTeacher .cont .info .right h2 {
  font-size: 0.5rem;
  font-weight: bold;
  color: #191919;
  line-height: 0.83rem;
}
.ReturneesTeacher .cont .info .right p {
  font-size: 0.33rem;
  color: #666666;
  line-height: 0.5rem;
  padding: 0 1rem;
}
.ReturneesTeacher .slider {
  width: 20rem;
  margin: 5rem auto 0;
  padding-bottom: 3rem;
}
.ReturneesTeacher .slider .itemwrap {
  height: 6rem;
  padding: 0.3rem;
  cursor: pointer;
  text-align: center;
}
.ReturneesTeacher .slider .itemwrap .item {
  width: 8rem!important;
  height: 5.4rem;
  position: relative;
  margin: 0 auto;
}
.ReturneesTeacher .slider .itemwrap .item .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  display: none;
  background: transparent;
}
.ReturneesTeacher .slider .itemwrap .item .bg img {
  width: 100%;
  margin-top: -5px;
}
.ReturneesTeacher .slider .itemwrap .item i {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 0.3rem;
}
.ReturneesTeacher .slider .itemwrap .item i img {
  width: 100%;
}
.ReturneesTeacher .slider .itemwrap .item .info h3 {
  font-size: 0.47rem;
  color: #191919;
  margin-bottom: 0;
}
.ReturneesTeacher .slider .itemwrap .item .info p {
  font-size: 0.23rem;
  color: #ff8000;
  line-height: 0.6rem;
}
.ReturneesTeacher .slider .itemwrap .item .info h1 {
  font-size: 0.3rem;
  color: #666666;
  margin-bottom: 0;
}
.ReturneesTeacher .slider .itemwrap .item .info h2 {
  font-size: 0.28rem;
  color: #666666;
  line-height: 0.6rem;
  height: 0.6rem;
}
.ReturneesTeacher .slider .itemwrap .item .appointment {
  display: inline-block;
  width: 2rem;
  height: 0.6rem;
  text-align: center;
  line-height: 0.6rem;
  border: 1px solid #FF8000;
  border-radius: 0.04rem;
  font-size: 0.33rem;
  color: #191919;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.ReturneesTeacher .slider .itemwrap .item .appointment:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff8000;
  z-index: -1;
  -webkit-animation-name: button-out;
  animation-name: button-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.ReturneesTeacher .slider .itemwrap .item .appointment:hover::before,
.ReturneesTeacher .slider .itemwrap .item .appointment:focus::before {
  -webkit-animation-name: button-in;
  animation-name: button-in;
}
.ReturneesTeacher .slider .itemwrap .item .appointment:hover {
  color: #fff;
}
@keyframes button-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes button-in {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.ReturneesTeacher .slider .itemwrap.active .bg {
  display: block;
}
.ReturneesTeacher .slider .itemwrap.active .item .info h1,
.ReturneesTeacher .slider .itemwrap.active .item .info h3,
.ReturneesTeacher .slider .itemwrap.active .item .info h2 {
  color: #fff;
}
.ReturneesTeacher .slider .itemwrap.active .item .appointment {
  color: #fff;
}
.ReturneesTeacher .slider .slick-arrow {
  width: 0.77rem;
  height: 0.77rem;
  z-index: 10;
}
.ReturneesTeacher .slider .slick-arrow:before {
  display: block;
  width: 0.77rem;
  height: 0.77rem;
  font-size: 0;
}
.ReturneesTeacher .slider .slick-prev:before {
  background: url(image/arrowLeft.png) no-repeat center;
}
.ReturneesTeacher .slider .slick-next:before {
  background: url(image/arrowRight.png) no-repeat center;
}
.ReturneesTeacher .slider .slick-prev {
  left: -0.5rem;
}
.ReturneesTeacher .slider .slick-next {
  right: -0.5rem;
}
.ReturneesTeacher .slider .slick-dots li button:before {
  color: #FF8000;
}
.ReturneesTeacher .slider .slick-dots li.slick-active button:before {
  color: #FF8000;
}
