.user_info_input {
  background: #F5F5F5;
  padding: 1rem 0;
}
.user_info_input > div {
  width: 29rem;
  height: 22rem;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 4rem 0rem 16rem rgba(0, 0, 0, 0.17);
}
.user_info_input > div > div {
  padding-top: 3rem;
  margin-left: 5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}
.user_info_input > div > div > span span {
  color: #FF8000;
}
.user_info_input > div > div > p {
  padding-top: 1rem;
}
.user_info_input > div .el-input {
  width: 23rem;
  height: 4rem;
  margin-left: 3rem;
  margin-top: 1.5rem;
  padding: 0;
}
.user_info_input > div .el-input .el-input__inner {
  padding-left: 3rem;
  font-size: 1.33rem;
  height: 4rem;
  border-radius: 2rem;
}
.user_info_input > div .el-input .el-input__inner:focus {
  border-color: #8391a5;
}
.user_info_input > div button {
  width: 23.28rem;
  height: 3.67rem;
  background: #FF8000;
  border-radius: 2rem;
  border: none;
  font-size: 1.33rem;
  color: #fff;
  margin-top: 1rem;
  margin-left: 3rem;
}
